# Forklift Management Android
/build
/.gradle
/app/build
/local.properties
*.iml
.gradle/
.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
local.properties

# เอกสาร/ไฟล์ไม่เกี่ยวกับโค้ดแอป
/Docs/08-Hardcoded-Text-Map-Firebase.md
/Docs/json.md
/Users/
/Docs2/
